@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Faatcar</h1> 
    <h1 class="display-4">Este site está em desenvolvimento, aguarde até sua finalização!</h1>
</div>


